.about-us {
  padding: 80px 20px;
  background-color: #f4f9ff;
  text-align: center;
}

.about-us__content {
  max-width: 800px;
  margin: 0 auto;
}

.about-us h2 {
  font-size: 2.5rem;
  color: #00478C;
  margin-bottom: 20px;
}

.about-us p {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.8;
}
